
/* Beer Output */

.single-beer {
	margin: 20px 0 40px;
	font-size: 14px;
	line-height: 22px;
}
.single-beer .beer-title {
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
	margin-bottom: 20px;	
}
.single-beer .beer-title h2 {
	display: inline-block;
	font-family: 'Helvetica',sans-serif;
	font-size: 25px;
	margin: 0 !important;
}
.single-beer .beer-title .beer-style {
	display: inline-block;
	padding-left: 10px;
	font-size: 16px;
	font-style: italic;
}
.single-beer .beer-image {
	display: inline-block;
	width: 150px;
	float: left;
	padding: 0 20px 10px 0;
}
.single-beer .beer-description {
	padding: 0 0 15px 20px;
}
.single-beer .beer-description .untappd {
	padding: 12px 0;
}
.single-beer .beer-description .untappd a {
	display: inline-block;
	width: 162px;
	height: 25px;
	background: url('../img/checkin-button.png') 0 0 no-repeat;
}
.single-beer .beer-meta {
	clear: both;
	display: block;
	background: #eee;
	border: 1px solid #ddd;
	padding: 15px 20px;
}
.single-beer .beer-meta .beer-profile {
	padding-bottom: 10px;
}
.single-beer .beer-meta .beer-extras .avail .label,
.single-beer .beer-meta .beer-profile .label {
    font-weight: bold;
    display: inline-block;
    padding-right: 8px;	
}
.single-beer .beer-meta .beer-profile .abv,
.single-beer .beer-meta .beer-profile .ibu {
    display: inline-block;
    padding: 0 20px 5px 0;	
}
.single-beer .beer-meta .beer-extras .notes .label {
	font-weight: bold;
    display: block;
    padding: 10px 0px 3px;	
}
.beer-list p,
.single-beer p,
.beer-description p {
	margin: 0 !important;
	padding: 0 !important;
}
.beer-list .nav-below {
	text-align: right;
}

.embm-clear {
	clear: both;
}
